@model DRS.Entities.Devolucion

<div class="modal-header">

    <h5 class="modal-title alt-secondary-head" id="myModalLabel">Cancelar devolución</h5>

    <button type="button" class="close" id="btnClose" data-dismiss="modal" aria-hidden="true"><i class="fa fa-close"></i></button>

</div>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "" }))
{

<div class="modal-body">

    <div class="alertModal">
        <div class="@ViewBag.AlertModal" id="alertHeader" role="alert">
            <text>@ViewBag.MessageModal</text>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>

    <div id="LoadingModal">
        <div class="col-md-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <div align="center">
                        <img src="~/images/loading-2.gif" style="height: 15%; width: 15%; text-align: center" class="center">
                        <p style="font-family: 'Rubik', sans-serif; font-size: 14px;" class="center">Cargando...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion" id="accordionDevoluciones">
        <div class="card">
            <div class="card-header-modal" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link btn-link-modal-panel" type="button">
                        Información general de la devolución
                    </button>
                    <button class="btn btn-link btn-link-modal-panel pull-right" type="button">
                        <span class="pull-right clickable"><i class="fa fa-chevron-up"></i></span>
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="show" aria-labelledby="headingOne" data-parent="#accordionDevoluciones">
                <div class="card-body card-Body-One">

                    <div class="row" style="margin-top: -20px;">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label class="label-form-control">* Código del cliente</label>
                                @Html.DropDownListFor(model => model.Cliente, (List<SelectListItem>)ViewBag.ClientesM, htmlAttributes: new { @id = "cbxClientesm", @class = "form-control" })
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" id="divCbxEmpleadoResponsable">
                            <div class="form-group">
                                <label class="label-form-control">* Empleado responsable</label>
                                @Html.DropDownListFor(model => model.EmpleadoResponsable, (List<SelectListItem>)ViewBag.EmpleadosM, htmlAttributes: new { @id = "cbxEmpleadosm", @class = "form-control" })
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" id="divCbxEmpleadoResponsable">
                            <div class="form-group">
                                <label class="label-form-control">* Empleado responsable</label>
                                <input type="text" class="form-control" id="txtEmpleadoResponsable" />
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label class="label-form-control">* Enviado por</label>
                                @Html.TextBoxFor(model => model.Envio, new { @class = "form-control", placeholder = "Escribe la persona que lo envia", style = "", @maxlength = "100" })

                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label class="label-form-control">* Motivo del envío</label>
                                @Html.DropDownListFor(model => model.MotivoEnvio, (List<SelectListItem>)ViewBag.MotivoEnvioM, htmlAttributes: new { @id = "cbxMotivoEnviom", @class = "form-control" })

                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="margin-bottom: 5px;" id="divCbxCotizar">
                            <div class="form-group">
                                <label class="label-form-control">* Cotizar reparación</label>
                                <div class="input-group">
                                    <label class="content-input" style="position: relative;">
                                        <input id="cbxCotizacion" type="checkbox" />
                                        <i></i>
                                    </label>
                                </div>
                            </div>
                        </div>

                        @Html.HiddenFor(model => model.Cotizar, new { @id = "cbxCotizarH" })

                        @Html.HiddenFor(model => model.IsBtnContinueEnabled, new { @id = "btnContinueValue" })

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="divDescripcion">
                            <div class="form-group">
                                <label class="label-form-control">* Descripción de la falla</label>
                                @Html.TextAreaFor(model => model.Descripcion, new { @class = "form-control", placeholder = "Escribe tus descripción de la falla (255 carácteres)", style = "resize: none;", @rows = "5", @maxlength = "255" })
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label class="label-form-control">* Número de guía</label>
                                @Html.TextBoxFor(model => model.NumeroGuia, new { @class = "form-control", placeholder = "Escribe el número de guía", style = "", @maxlength = "100" })
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label class="label-form-control">* Nombre de mensajería</label>
                                @Html.TextBoxFor(model => model.NombreMensajeria, new { @class = "form-control", placeholder = "Escribe el nombre de la mensajería", style = "", @maxlength = "150" })
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" id="CCDiv">
                            <div class="form-group">
                                <label class="label-form-control">* Destino CC</label>
                                @Html.TextBoxFor(model => model.DestinoCC, new { @class = "form-control", placeholder = "Escribe el destino CC", style = "", @maxlength = "150" })
                            </div>
                        </div>

                        @*<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label class="label-form-control">Comentarios</label>
                                    @Html.TextAreaFor(model => model.Comentarios, new { @class = "form-control", placeholder = "Escribe tus comentarios (255 carácteres)", style = "resize: none;", @rows = "5", @maxlength = "255" })
                                </div>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="card" id="DetailsReturn">
            <div class="card-header-modal" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link btn-link-modal-panel" type="button">
                        Detalles
                    </button>
                    <button class="btn btn-link btn-link-modal-panel pull-right" type="button">
                        <span class="pull-right clickable"><i class="fa fa-chevron-up"></i></span>
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="show" aria-labelledby="headingTwo" data-parent="#accordionDevoluciones">
                <div class="card-body card-Body-Two">
                    <div class="card-body">

                        <div class="row">
                            <div class="col-md-12">

                                <div id="divProductDetails">

                                </div>

                                <div id="tblDetails">

                                    <div class="row" style="margin-top: -20px;">
                                        <div class="alertModalDP" style="width: -webkit-fill-available;">
                                            <div class="@ViewBag.TypeAlertDetailsNew" id="alertHeaderNP" role="alert">
                                                <text>@ViewBag.MessageDetailsNew</text>
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="table-responsive" style="width:100%;">
                                                <table id="dtDetailsDevoluciones" class="table table-hover">
                                                    <thead>
                                                        <tr class="header-Dt">
                                                            <th>Id</th>
                                                            <th>Producto</th>
                                                            <th>Cantidad</th>
                                                            <th>Serie</th>
                                                            <th>¿es accesorio?</th>
                                                            <th>¿pertenece a Servitron?</th>
                                                           
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in Model.Details)
                                                        {
                                                        <tr class="rows-Dt">
                                                            <td>@item.Id</td>
                                                            <td>
                                                                @item.Producto
                                                            </td>
                                                            <td>@item.Cantidad</td>
                                                            <td>
                                                                @if (string.IsNullOrEmpty(item.Serie))
                                                                {
                                                                    <i class="fa fa-close center" style="color: red;" aria-hidden="true"></i>
                                                                }
                                                                else
                                                                {
                                                                   @item.Serie
                                                                }
                                                            </td>
                                                            <td>
                                                                @if (item.EsSoloDevolucion == true)
                                                                {
                                                                   <i class="fa fa-check center" aria-hidden="true"></i>
                                                                }
                                                                else
                                                                {
                                                                   <i class="fa fa-close center" style="color: red;" aria-hidden="true"></i>
                                                                }
                                                            </td>
                                                            <td>
                                                                @if (item.ExisteProducto == false)
                                                                {
                                                                   <i class="fa fa-close center" style="color: red;" aria-hidden="true"></i>
                                                                }
                                                                else
                                                                {
                                                                   <i class="fa fa-check center" aria-hidden="true"></i>
                                                                }
                                                            </td>
                                                            
                                                        </tr>
                                                        }


                                                    </tbody>

                                                </table>

                                            </div>
                                        </div>

                                    </div>


                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="modal-footer">
    <div class="row" id="footerBtns">

        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="pull-right">
                <button type="button" style="margin-right: 5px !important;" class="btn btn-danger btn-sm" id="btnCloseModify" data-dismiss="modal"><i class="fa fa-close"></i>  Cerrar</button>
                @if (Model.IsBtnContinueEnabled == true)
                {
                    <button type="button" class="btn btn-success btn-sm cancel-reservation" data-placement="top" id="btnSave"><i class="fa fa-check-circle"></i>  Confirmar</button>
                }
            </div>
        </div>

        @if(Model.IsBtnContinueEnabled == true){
            <!-- PopoverX content -->
            <div id="confirmCancelReservation">
                
            </div>
        }

    </div>
</div>
}

@if (ViewBag.EnableCC == true)
{
<script>
    $(document).ready(function () {
        $("#CCDiv").show();
    });
</script>
}
else
{
    <script>
        $(document).ready(function () {
            $("#CCDiv").hide();
        });
    </script>
}

<script>

    var cotizar = '@Model.Cotizar';

    $('#LoadingModal').hide();

    var idReservation = 0;

    $("#cbxClientesm").attr("disabled", true);
    $("#Envio").attr("disabled", true);
    $("#cbxMotivoEnviom").attr("disabled", true);
    $("#Descripcion").attr("disabled", true);
    $("#cbxCotizarH").attr("disabled", true);
    $("#NumeroGuia").attr("disabled", true);
    $("#NombreMensajeria").attr("disabled", true);
    $("#DestinoCC").attr("disabled", true);
    $("#Comentarios").attr("disabled", true);
    $("#cbxCotizacion").attr("disabled", true);

    var contentConfirmCancelReservation = '<div id="cancelReservation" class="popover popover-x popover-default"><div class="arrow"></div><h3 class="popover-header popover-title"><span class="close pull-right" data-dismiss="popover-x">&times;</span>Confirmar</h3><div class="popover-body popover-content">¿Confirma la cancelación de la devolución?</div><div class="popover-footer"><button type="submit" class="btn btn-sm btn-danger" onclick="CancelReturn()">Confirmar</button></div></div>';


    $(document).ready(function () {

        $("#divCbxEmpleadoResponsable").hide();
        $("#txtEmpleadoResponsable").val($("#cbxEmpleadosm option:selected").text());
        $("#txtEmpleadoResponsable").attr("disabled", true);

        if ($("#cbxEmpleadosm").val() == "0") {
            $("#txtEmpleadoResponsable").val('Empleado no encontrado');
        }


        if (cotizar == 'True') {
            $("#cbxCotizarH").val('True');
            $("#cbxCotizacion").attr("checked", true);
            //$("#User").css("display", "block");
        }
        else {
            $("#cbxCotizarH").val('False');
        }

        $('#cbxMotivoEnviom').on('change', function () {

            if (this.value == 11) {
                $("#divCbxCotizar").show();
                $("#divDescripcion").show();

            }
            else {
                $("#divCbxCotizar").hide();
                $("#divDescripcion").hide();
                $("#Descripcion").val('');
                $("#cbxCotizarH").val('False');
                $("#cbxCotizacion").prop('checked', false);
            }

        });

        if ($("#cbxMotivoEnviom").val() == 11) {
            $("#divCbxCotizar").show();
            $("#divDescripcion").show();
        }
        else {
            $("#divCbxCotizar").hide();
            $("#divDescripcion").hide();
            $("#Descripcion").val('');
            $("#cbxCotizarH").val('False');
            $("#cbxCotizacion").prop("checked", false);
        }

        $("#headingOne").click(function () {

            var $this = $(this);

            if (!$("#collapseOne").hasClass('hide')) {
                $('.card-Body-One').slideUp();
                $("#collapseOne").removeClass('show');
                $("#collapseOne").addClass('hide');
                $this.find('i').removeClass('fa-chevron-up').addClass('fa-chevron-down');

            } else {
                $('.card-Body-One').slideDown();
                $("#collapseOne").removeClass('hide');
                $("#collapseOne").addClass('show');
                $this.find('i').removeClass('fa-chevron-down').addClass('fa-chevron-up');

            }

        });

        $("#headingTwo").click(function () {

            var $this = $(this);

            if (!$("#collapseTwo").hasClass('hide')) {
                $('.card-Body-Two').slideUp();
                $("#collapseTwo").removeClass('show');
                $("#collapseTwo").addClass('hide');
                $this.find('i').removeClass('fa-chevron-up').addClass('fa-chevron-down');

            } else {
                $('.card-Body-Two').slideDown();
                $("#collapseTwo").removeClass('hide');
                $("#collapseTwo").addClass('show');
                $this.find('i').removeClass('fa-chevron-down').addClass('fa-chevron-up');

            }

        });

        $("#btnCloseModify").click(function () {

            $("#divLoadingReturns").show();
            $("#replacetarget").hide();

            $.get('@Url.Action("IndexIni", "Devoluciones")', function (content)
            {
                $("#replacetarget").html(content);
            });
        });

        $("#btnClose").click(function () {

            $("#divLoadingReturns").show();
            $("#replacetarget").hide();

            $.get('@Url.Action("IndexIni", "Devoluciones")', function (content)
            {
                $("#replacetarget").html(content);
            });
        });

        

        $.get('@Url.Action("DetailsNew", "Devoluciones")', function (content) {
            $("#detailsDiv").html(content);
        });

        $("#DetailsReturn").show();

        var tableDetailsDevoluciones = $('#dtDetailsDevoluciones').on('page.dt', function () { }).DataTable({
            //"dom": "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" +
            //    "<'row'<'col-sm-12'tr>>" +
            //    "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
            "language": {
                "lengthMenu": "Mostrando _MENU_ registros por página",
                "sInfo": "Mostrando de _START_ a _END_  de _TOTAL_ registros",
                "sInfoEmpty": "",
                "zeroRecords": "No se encontraron resultados.",
                /*"info": "Página _PAGE_ de _PAGES_",*/
                "info": "_TOTAL_ registros dados de alta.",
                "sSearch": "Buscar: ",
                "sLengthMenu": "Mostrar _MENU_ resultados por página.",
                "sinfoEmpty": "No se encontraron resultados.",
                "sZeroRecords": "No se encontraron resultados.",
                "sInfoFiltered": "(Filtrado de _MAX_ registros totales)",
                "paginate": {
                    "previous": "Anterior",
                    "next": "Siguiente"
                }
            },
            // Setup for responsive datatables helper.
            bAutoWidth: false,
            fixedHeader: "true",
            rowReorder: {
                selector: 'td:nth-child(2)'
            },
            responsive: true,
            orderable: false,
            "searching": false,
            "initComplete": function (settings, json) {
                //$('.dataTables_filter input').on('keypress', function (e) {
                //    Tooltip();
                //});
            },
            'columns': [
                { "width": "15%", "targets": 0, 'orderable': false, 'searchable': false, 'className': 'dt-body-center' },
                { "width": "30%", "targets": 1, 'orderable': false, 'searchable': false, 'className': 'dt-body-center' },
                { "width": "15%", "targets": 2, 'orderable': false, 'searchable': false, 'className': 'dt-body-center' },
                { "width": "15%", "targets": 3, 'orderable': false, 'searchable': false, 'className': 'dt-body-center' },
                { "width": "12.5%", "targets": 4, 'orderable': false, 'searchable': false, 'className': 'dt-body-center' },
                { "width": "12.5%", "targets": 5, 'orderable': false, 'searchable': false, 'className': 'dt-body-center' },
            ],
            'order': [0, 'asc']
        });

        $("#confirmCancelReservation").html(contentConfirmCancelReservation);

        var $targ = $('.cancel-reservation');
        $targ.popoverButton({ target: '#cancelReservation', placement: 'top' });

    });

    function CancelReturn(){

        idReservation = '@Model.ClaveDevolucion';

        $("#accordionDevoluciones").hide();

        $("#LoadingModal").show();

        $("#btnSave").hide();

        $("#cancelReservation").html('');


        $.post('@Url.Action("CancelReturn", "Devoluciones")' + "?ReturnId=" + @Model.ClaveDevolucion, function (content)
        {
            $("#myModalContentXl").html(content);
        });
    }

</script>