@model DRS.Entities.Login

@using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "form-login", id="form" }))
{
    <h3 class="text-center mt-0 m-b-15">
        <a href="@Url.Action("Index", "Home")" class="logo logo-admin"><img src="~/images/teambox-logo.png" height="58" alt="logo"></a>
    </h3>

    <div class="col-md-12">

        <div class="@ViewBag.TypeAlert" style="margin-top: 5% !important;" role="alert">
            @ViewBag.Message
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="form-group row first-input-text">
            <div class="col-12">
                @Html.TextBoxFor(model => model.Username, new { @class = "form-control login-input-text", placeholder = "Introduce tu correo electrónico", style = "font-size: 15px;", required = "required" })
            </div>
        </div>

        <div class="form-group row">
            <div class="col-12">
                @Html.PasswordFor(model => model.Password, new { @class = "form-control login-input-text", placeholder = "Introduce tu contraseña", style = "font-size: 15px;", required = "required" })
            </div>
        </div>

        <div class="form-group row">
            <div class="col-12">
                <div class="custom-control custom-checkbox">
                    @*<input type="checkbox" class="custom-control-input" id="customCheck1">*@
                    @Html.CheckBoxFor(model => model.RememberMe, new { @class = "custom-control-input", @id = "customCheck1" })
                    <label class="custom-control-label" for="customCheck1">Mantenerme conectado</label>
                </div>
            </div>
        </div>

        <div id="loadingLogin">

        </div>

        <div class="form-group text-center row m-t-20" id="btnLoginDiv1">
            <div class="col-12">
                <button class="btn btn-primary submit-btn btn-block" id="btnLogin" onclick="loginClick();" type="submit" style="background-color: #F26835 !important; border: 1px solid #F26835 !important;">Iniciar sesión</button>
            </div>
        </div>

        <div class="form-group text-center row m-t-20" id="btnLoginDiv2">
            <div class="col-12">
                <button class="btn btn-primary submit-btn btn-block" id="btnLogin2" type="button" style="background-color: #F26835 !important; border: 1px solid #F26835 !important;">Iniciar sesión</button>
            </div>
        </div>

        <div class="form-group text-center m-t-10 mb-0 row">
            <div class="col-sm-12 m-t-20">
                <a href="@Url.Action("Recovery", "Home")" id="btnRecovery" class="text-muted"><i class="mdi mdi-lock"></i> <small>Olvide mi contraseña</small></a>
            </div>
        </div>

        <div class="col-md-12" style="border-top: 1px solid gray; margin-top: 10px; text-align: center;">
            <p style="text-align: center; margin-top: 10px;">O bien inicie sesión con</p>
            @*<button class="MuiButtonBase-root MuiButton-root MuiButton-outlined" data-onsuccess="onSignIn" tabindex="0" type="button" style="text-transform: none;"><span class="MuiButton-label"><img src="/images/Google_G_Logo.svg" class="jss56"/><text id="btnGoogleTxtStyle">Google</text></span><span class="MuiTouchRipple-root"></span></button>*@
            @*<div id="my-signin2"></div>*@
            @*<div class="g-signin2" id="g-signin2"></div>*@
            <!-- In the callback, you would hide the gSignInWrapper element on a successful sign in -->
            <div id="gSignInWrapper">
                <div id="customBtn" class="customGPlusSignIn">
                    <span class="icon"></span>
                    <span class="buttonText">Google</span>
                </div>
            </div>
        </div>

    </div>

    <script>

        var googleUser = {};
        var startApp = function () {

            gapi.load('auth2', function () {
                // Retrieve the singleton for the GoogleAuth library and set up the client.
                auth2 = gapi.auth2.init({
                    client_id: '780466152055-gj9qvj0s8enknsdtvepjr32pd1rig3ov.apps.googleusercontent.com',
                    cookiepolicy: 'single_host_origin',
                    // Request scopes in addition to 'profile' and 'email'
                    //scope: 'additional_scope'
                });
                attachSignin(document.getElementById('customBtn'));
            });
        };

        function attachSignin(element) {

            auth2.attachClickHandler(element, {},
                function (googleUser) {

                    var divLoading = '<div class="form-group row">'+
                        '<div class="col-12">'+
                        '<div align="center">' +
                        '<img src="/images/loading-2.gif" style="width: 15%;" class="center">' +
                        '<p style="font-family: "Rubik", sans-serif; font-size: 14px;" class="center">Espere por favor...</p>' +
                        '</div>' +
                        '</div>' +
                        '</div>';

                    $("#Username").attr("disabled", true);
                    $("#Password").attr("disabled", true);
                    $("#btnLogin").attr("disabled", true);
                    $("#btnRecovery").attr("disabled", true);
                    $("#loadingLogin").html(divLoading);


                    var profile = googleUser.getBasicProfile();


                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("LoginExternal", "Home")"+'?email=' + profile.getEmail(),
                        data: '',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (response) {

                            $("#loadingLogin").html('');

                            if (response.typealert == "1") {
                                 window.location = '@Url.Action("Index", "Home")' + '?mensaje=' + response.message + '&&alert=' + response.typealert;
                            }
                            else {
                                window.location = '@Url.Action("Index", "Home")' + '?mensaje=' + response.message + '&&alert=' + response.typealert;
                            }

                        },
                        failure: function (response) {
                            window.location = '@Url.Action("Index", "Home")' + '?mensaje=' + response.error + '&&alert=alert alert-danger';
                        },
                        error: function (response) {
                            window.location = '@Url.Action("Index", "Home")' + '?mensaje=' + response.error + '&&alert=alert alert-danger';
                        }
                    });

                    @*//var profile = googleUser.getBasicProfile();
                    //console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
                    //console.log('Name: ' + profile.getName());
                    //console.log('Image URL: ' + profile.getImageUrl());
                    //console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
                    location.reload()
                    // funciona como si dieras clic en un enlace
                    //window.location.href = '@Url.Action("LoginExternal", "Home")' + '?email=' + profile.getEmail();*@

                }, function (error) {

                     window.location = '@Url.Action("Index", "Home")';
            });

        }

        startApp();

    </script>
    
    @*<button class="MuiButtonBase-root MuiButton-root MuiButton-outlined" tabindex="0" type="button" style="text-transform: none;"><span class="MuiButton-label"><img src="/images/Google_G_Logo.svg" class="jss56"> Google</span><span class="MuiTouchRipple-root"></span></button>*@

    @*</div>
        </div>*@
}



@*<script>
        //function onSuccess(googleUser) {
        //  console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
        //}
        //function onFailure(error) {
        //  console.log(error);
        }
        function renderButton() {
          gapi.signin2.render('my-signin2', {
            'scope': 'profile email',
            'width': 240,
            'height': 50,
            'longtitle': true,
            'theme': 'dark',
            'onsuccess': onSuccess,
            'onfailure': onFailure
          });
        }
    </script>*@

<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
